@CHARSET "UTF-8";

/* GENERAL STYLE */

html, body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
    /*text-align: justify;*/
    text-justify: inter-word;

    font-family: Verdana;
}

div#content {
    padding: 10px;
    margin: 0 40px;
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);

    text-align: center;
}

div#beerWidget {
    display: inline-block;
}

div#beerWidget > p {
    display: flex;
}

div#beerWidget > p > * {
    margin: 0 3px;
    padding: .3em;
}

input[type=text],
input[type=url],
select {
    flex-grow: 50;
    flex-basis: 0;
}

input[type=button] {
    flex-grow: 1;
    min-width: 18%;
}

/*div#beerTable table {
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

div#beerTable table td {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
}

div#beerTable table th {
    border: 3px solid black;
    text-align: center;
    padding: 5px;
}

table#stats {
    margin-top: 15px !important;
}

table#stats td {
    border: 3px solid black !important;
}

h4 {
    margin: 0;
}*/
