@CHARSET "UTF-8";

/*
 * PAGINATION
 */

div#pagination {
    width: 100%;
    height: 25px;
    background-color: lightgray;
}

div#pagination > p {
    text-align: center;
}

div#pagination a {
    text-decoration: underline;
}

div#pagination a,
div#pagination span {
    margin: 2px 5px;
}

p#page, p#lastPage {
    display: none;
}
