@CHARSET "UTF-8";

/* GENERAL STYLE */

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
}

div#content {
    padding: 10px;
    margin: 40px;
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);

    overflow: auto;

    font-size: 2em;
    font-family: Verdana;
}

p {
    margin: 10px auto;
}

tt {
    padding-left: 50px;
}

.teensy {
    font-size: .7em;
    font-family: 'Times New Roman';
}

.good {
    background-color: green;
}

.nogood {
    background-color: red;
}
